<div class="container-fluid p-5 text-black text-center">
  <h1>Форма для заполнения будет здесь.</h1>
</div>

<div class="container mt-5">
  <div class="col-12 col-lg-6 m-auto">

    <form id="formToSubmit">
      <div class="mb-3">
        <label for="employmentDate" class="form-label">Трудоустроить с: *</label>
        <input required type="date" class="form-control" id="employmentDate" name="employmentDate" placeholder="" />
      </div>

      <div class="mb-3">
        <label for="fio" class="form-label">ФИО *</label>
        <input required type="text" class="form-control" id="fio" name="fio" placeholder="Иванов В. Г." />
      </div>
      <div class="mb-3">
        <label for="position" class="form-label">Должность *</label>
        <input required type="text" class="form-control" id="position" name="position"
          placeholder="Fullstack-разработчик Nodejs+React" />
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email *</label>
        <input required type="email" class="form-control" id="email" name="email" placeholder="google@google.com" />
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Телефон *</label>
        <input required type="phone" class="form-control" id="phone" name="phone" placeholder="+7 (421) 233-59-23" />
      </div>

      <button class="w-100 btn btn-lg btn-primary" type="submit">Отправить</button>
      <a id="downloadLink" target="_blank" style="display: none" download></a>

      <h4 id="serverResponse" class="mt-2">Ответ сервера будет здесь</h4>
    </form>


    <script>
      const formElement = document.getElementById('formToSubmit');
      formElement.addEventListener("submit", function (e) {
        e.preventDefault();
        const data = new FormData(e.target);
        submitForm(data);
      });


      async function submitForm(formData) {
        const elementForServerResult = document.getElementById('serverResponse');

        try {
          let requestResult = await fetch('/form', {
            method: 'POST',
            body: formData
          });
          //console.log('requestResult', requestResult)
          let postResult = await requestResult.json();

          //console.log('postResult', postResult)
          if (!requestResult.ok) {
            throw new Error(postResult.message || requestResult.statusText)
          }

          elementForServerResult.textContent = `Успешно. Сейчас будет скачан документ-результат`;
          const downloadLinkElement = document.getElementById('downloadLink');
          downloadLinkElement.setAttribute('href', postResult.data.generatedDocumentUrl)
          downloadLinkElement.click();
        } catch (e) {
          console.log('error while sending', e.message);
          elementForServerResult.textContent = `Произошла ошибка: ${e.message}`;
        }
      }
    </script>
  </div>
</div>